.formation-card {
  perspective: 1000px;
  margin: 20px;
}

.card-inner {
  width: 300px;
  height: 300px;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  background-color: var(--secondary-color);
  border: 2px solid #ffffff;
  border-radius: 10px;
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 15px;
  box-sizing: border-box;
}

.card-front {
  background-color: var(--secondary-color);
  border: 1px solid #ffffff;
}

.card-back {
  border: 1px solid #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; /* Centre les éléments, y compris le bouton */
  padding: 20px;
}

#button_savoir_plus_formation_card {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px; /* Espace entre le texte et le bouton */
}

button:hover {
  background-color: #e67e22;
}

/* Écrans supérieurs à 768px */
@media screen and (min-width: 768px) {
  .formation-card:hover .card-inner {
    transform: rotateY(180deg);
  }
  .card-front, .card-back {
    backface-visibility: hidden;
  }
  .card-back {
    transform: rotateY(180deg);
    background-color: var(--secondary-color);
    justify-content: center; /* Centre le contenu verticalement */
    align-items: center; /* Centre le bouton horizontalement */
  }

  #button_savoir_plus_formation_card {
    margin-top: 20px; /* Espacement entre le texte et le bouton */
    width: auto; /* Garder la largeur normale */
  }
}

/* Écrans inférieurs à 768px */
@media screen and (max-width: 768px) {
  .card-back {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre le contenu */
    justify-content: flex-end; /* Aligne le contenu vers le haut */
    padding: 20px;
  }

  .card-front p {
    margin-bottom: 20px; /* Ajouter un espace sous le texte */
  }

  #button_savoir_plus_formation_card {
    width: 100%; /* Le bouton prend toute la largeur sur les petits écrans */
    max-width: 250px; /* Limiter la largeur du bouton */
    margin-top: 20px; /* Espacement entre le texte et le bouton */
  }
}
