.equipe-for-each {
    padding: 20px;
    text-align: center;
  }
  
  .equipe-member-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
    /* Javascript animations */
    .equipe-for-each-animation {
      animation: slideIn 10s forwards;
    }
    .equipe-member-list-animation {
      animation: slideIn 12s forwards;
    }