.label_form_blue_resetP{
    margin-top: 1rem;
}
#target_labelNewPassword_resetP{
    margin-right: 8.5rem !important;
}
#target_labelConfirm_resetP{
    margin-right: 5rem !important;
}
#target_buttonConfirmNewPassword{
    width: 15rem !important;
    margin-top: 2rem !important;
}