.title_Pages{
    margin-top: 8rem;
    text-align: center;
}
#form_add_contener{
    background-color: #108CB7;
    border-radius: 6px;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 5rem;
    color: white;
    padding: 5rem 3rem;
}
#form_add_contener .primary-button {
    margin-top: 24px;
}
#form_add{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input_add{
    width: 20rem;
    height: 1.8rem;
    border: none;
    border-radius: 4px;
    margin-top: 4px;
    font-size: 1.05rem;
}
.label_add{
    margin-right: 16.2rem;
    font-size: 1.15rem;
}
.at_second_label{
    margin-top: 1rem;
}
#surname_label_add{
    margin-right: 18rem;
}
.error{
    font-size: 1.010rem;
}
#email_label_add{
    margin-right: 17.5rem;
}
#promo_label_add{
    margin-right: 17rem;
}
#role_select_add{
    margin-right: 5.2rem;
    width: 15rem;
    height: 1.8rem;
    border: none;
    border-radius: 4px;
    margin-top: 5px;
    font-size: 1.02rem;
}
#role_label_add{
    margin-right: 18rem;
}
#company_label_add{
    margin-right: 15.1rem;
}
#password_label_add{
    margin-right: 15.3rem;
}
#confirm_label_add{
    margin-right: 11.2rem;
    font-size: 1.15rem;
}

@media screen and (max-width: 992px) {
    #form_add_contener {
        width: 74%;
    }
    .input_add {
        width: 100%;
    }
}