#practical_life_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #2ab7a3;
    padding-top: 50px;
}

#students {
    width: 100%;
    height: auto;
    display: block;  
}
h2 {
    margin-top: 50px;
    margin-left: 70px;
}
ul {
    padding: 0 70px;
}
li {
   list-style: none; 
}