.practical_life_section {
    font-size: 1.2em;
    line-height: 1.6em;
}

#practical_life_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #2ab7a3;
    padding-top: 50px;
}

#students {
    width: 100%;
    height: auto;
    display: block;  
}
.practical_life_section h2 {
    margin-top: 50px;
    margin-left: 70px;
}
.practical_life_section ul {
    padding: 0 70px;
}
.practical_life_section li {
    list-style: none; 

}

#practical_life_laptops_container{
    display: flex;
    flex-direction: row;
    background-color: #2a2c42;
    color: white;
    margin: 30px;
    border-radius: 10px;

}

#two_men_laptops{
    display: block;
    margin: 40px;
    border-radius: 10px;
    object-fit: cover;
}
.practical_life_evaluation {
    margin-top: 40px;
    justify-content: center;

}

.practical_life_list_style {
    list-style: disc !important;
    margin: 15px auto;
    list-style-position: inside !important;
}

#practical_life_laptops_container li {
    line-height: 1.5;

}
.bold_policy_chapter{
    font-weight: bold;
}

#rights_obligations {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.rights_obligations_list {
    list-style: none;
}

#rights_obligations_container{
    display: flex;
    flex-wrap: wrap;
}

.practical_life_links{
    margin-left: 3px;
}

.rights_obligations_list_dot {
    list-style: disc !important;
    list-style-position: inside !important;
    margin-top: 20px;
}
#rights, #obligations{
    margin-inline: 25px;
    flex: 40%;
    border-radius: 10px;
}

#rights {
    background-color: #2ab7a3;
}

#obligations {
    background-color: #f6941d;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 968px) {
    #rights, #obligations {
      flex: 100%;
      margin-top: 15px;
    }
    #practical_life_laptops_container {
        flex-direction: column;
    }
    
 
  }
