
#first_line_list{
    margin-top: 7rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.button_list{
    background-color: #F6941D;
    border: none;
    border-radius: 6px;
    color: white;
    width: 10rem;
    height: 2.5rem;
}
.button_list:hover{
    cursor: pointer;
    background-color: #d7831d;
}
#link_form_add{
    text-decoration: none;
    color: white;
}
#contener_list{
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    text-align: center;
}
.block_user{
    padding: 5px 20px 5px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info_user{
    background-color: #108CB7;
    color: white;
    border-radius: 6px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 2.5rem;
    min-width: 13rem;
}
.button_ChangeRole{
    margin-left: 1rem;
}
#title_user_list_contener{
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
    align-items: center;
}
.display_column_block_users{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.title_user_list{
    margin-bottom: 3rem;
}