  .page-title{
    text-align: center;
    padding: 30px;
  }

  .page-container {
    max-width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .page-container > * {
    flex: 1;
  }
  
  .login-form {
    text-align: center;
    background: var(--secondary-color);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px var(--secondary-color);
    max-width: 400px;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
  }
  .plateform-list ul {
    width: 70%;
    margin: auto;
  }
  
.connexion-title{
  color: whitesmoke;
  padding: 20px;
}

  .form-group {
    margin-bottom: 15px;
  }
  
  .input_login {
    width: 60%;
    padding: 10px;
    margin: 8px;
    box-sizing: border-box;
    border-radius: 8px;
  }
  
  .error {
    color: red !important;
    font-size: 10px !important;
  }
  .security_error{
    color: red !important;
    font-size: 1.02rem;
  }
  
  #button_login {
    width: 40%;
    padding: 10px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 40px;
  }
  
  button:disabled {
    color : black;
    opacity: 60%;
    cursor: default !important;
  }

  
  .p-forgot{
    color: whitesmoke;
    text-decoration: underline;
    margin-top: 0.6rem;
    font-size: x-small;
    cursor: pointer;
  }
  #label_email_send{
    font-size: 1.5rem;
  }
  #input_modal_emailSend{
    margin-top: 5px;
    height: 1.5rem;
    width: 40%; /* Ajuste la largeur selon vos besoins */
    max-width: 300px; /* Largeur maximale */
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  #button_form_sendMail{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    margin-top: 3px;
  }
  .button_sendMail{
    margin-left: 12.5rem;
  }
  @media screen and (max-width: 1200px) {
    .page-container {
      max-width: 90%;
    }
  }
  @media screen and (max-width: 768px) {
    .page-container {
      flex-direction: column-reverse;
    }
    .page-container > * {
      width: 100%;
    }
    .input_login {
      width: 100%;
      padding: 16px;
    }
    #button_login {
      width: 100%;
    }
  }
