body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .page-title{
    text-align: center;
    padding: 30px;
  }

  .page-container {
    max-width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .page-container > * {
    flex: 1;
  }
  
  .login-form {
    text-align: center;
    background: var(--secondary-color);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px var(--secondary-color);
    max-width: 400px;
    margin-bottom: 24px;
  }
  
.connexion-title{
  color: whitesmoke;
  padding: 20px;
}

  .form-group {
    margin-bottom: 15px;
  }
  
  .input_login {
    width: 60%;
    padding: 10px;
    margin: 8px;
    box-sizing: border-box;
    border-radius: 8px;
  }
  
  .error {
    color: red;
    font-size: xx-small;
  }
  
  #button_login {
    width: 40%;
    padding: 10px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 40px;
  }
  
  button:disabled {
    color : black;
    opacity: 60%;
    cursor: default !important;
  }

  
  .p-forgot{
    color: whitesmoke;
    text-decoration: underline;
    margin-top: 0px;
    font-size: x-small;
    cursor: pointer;
  }

  @media screen and (max-width: 1200px) {
    .page-container {
      max-width: 90%;
    }
  }
  @media screen and (max-width: 768px) {
    .page-container {
      flex-direction: column-reverse;
    }
    .page-container > * {
      width: 100%;
    }
    .input_login {
      width: 100%;
      padding: 16px;
    }
    #button_login {
      width: 100%;
    }
  }
