  body,
  html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }


  header {
    position: sticky; 
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2a2c42;
    color: white;
    z-index: 1000; 
  }


  /* .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin: 0 70px;
  } */

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
  }

  nav li {
    list-style: none;
  }

  .logo-image {
    width: 150px;
    height: auto;
  }

  .nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    vertical-align: middle;
  }

  .nav-menu li {
    position: relative;
    margin: 0 15px;
    text-align: left;
  }

  .nav-menu a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
  }
  .dropdown {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
  }
  .dropdown-toggle {
    display: flex !important;
    align-items: center;
    cursor: pointer;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }

  .dropdown-profil-button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    border-radius: 6px;
  }
  .dropdown-profil-button:hover {
    cursor: pointer;
    background-color: #32354e;
  } 
  .dropdown-profil-content-flex {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px;
    margin: 0 !important;
    color: black;
    border-radius: 8px;
    text-decoration: none;
  }
  .dropdown-profil-content-flex:hover {
    background-color: #ddd;
    cursor: pointer;
  }

  @media screen and (min-width: 992px) {
    .dropdown-profil {
      position: relative;
      display: inline-block;
    }
    .dropdown-profil-content {
      display: none;
      position: absolute;
      background-color: #ffffff;
      min-width: 200px;
      overflow: auto;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      right: 0;
      z-index: 1;
      border-radius: 8px;
      padding: 4px;
    }
    
    .show {
      display: block;
    } 
    .dropdown-menu {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #2a2c42;
      border: 1px solid #444;
      padding: 0;
      list-style: none;
      width: 200px;
      z-index: 1000;
    }
    
    .dropdown-menu li {
      border-bottom: 1px solid #444;
    }
    
    .dropdown-menu li:last-child {
      border-bottom: none;
    }
    
    .dropdown-menu a {
      color: white;
      padding: 10px 15px;
      display: block;
    }
    
    .dropdown-menu a:hover {
      background-color: #f39c12;
    }
  }

  .hamburger {
    display: none;
  }

  /* Navbar Admin*/
  .navbar_admin-container {
    width: 250px;
    height: 100vh;
    background-color: #2a2c42;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }

  .navbar_admin {
    width: 100%;
  }

  .navbar_admin-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .navbar_admin-item {
    width: 100%;
    text-align: center;
    padding: 15px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    text-decoration: none;
    color: white;
   
    
  }

  .navbar_admin-item a {
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
    
  }

  .navbar_admin-item:hover {
    background-color: #34495e;
  }

  /* Style du séparateur */
  .navbar-separator {
    width: 80%;
    height: 1px;
    background-color: #ccc;
    margin: 5px 0;
  }

  /* Style pour l'onglet actif */
  .navbar_admin-item.active {
    background-color: #575B76; /* Bleu clair */
    font-weight: bold;

  }

  /* Version responsive*/
  @media only screen and (max-width: 992px) {
    .dropdown-profil-button {
      display: none;
    }
    .dropdown-profil-content {
      border-top: 1px solid lightgray;
    }
    .dropdown-profil-content, .dropdown-profil-content-flex {
      padding-left: 0;
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 6rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-menu.active{
        left: 0;
    }
    .nav-menu a, .dropdown-profil, .dropdown {
      color: var(--secondary-color);
      padding: 24px;
      font-size: 18px;
    }
    .nav-menu .dropdown-menu a {
      padding: 16px;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .dropdown-menu {
      width: 100%;
      padding-left: 0;
    }

  }