body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


header {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  background-color: #2a2c42;
  color: white;
  padding: 15px 0;
  z-index: 1000; 
}


.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin: 0 70px;
}


.logo a {
  display: flex;
  align-items: flex-start;
}

.logo-image {
  width: 10vw;
  height: auto;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  vertical-align: middle;
}

.nav-links li {
  position: relative;
  margin: 0 15px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #2a2c42;
  border: 1px solid #444;
  padding: 0;
  list-style: none;
  width: 200px;
  z-index: 1000;
}

.dropdown-menu li {
  border-bottom: 1px solid #444;
}

.dropdown-menu li:last-child {
  border-bottom: none;
}

.dropdown-menu a {
  color: white;
  padding: 10px 15px;
  display: block;
}

.dropdown-menu a:hover {
  background-color: #f39c12;
}

.dropdown:hover .dropdown-menu {
  display: block;
}


.cta {
  background-color: #f39c12;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.cta:hover {
  background-color: #e67e22;
  cursor: pointer;
}


