body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .page-title{
    text-align: center;
    padding: 30px;
  }

  .page-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  
  li{
    padding-bottom: 25px;
  }

  .login-container {
    width: 40%;
    padding: 20px;
  }
  
  .login-form {
    text-align: center;
    background: #108CB7;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #108CB7;
    width: 100%;
    height: 70%;
    max-width: 400px;
  }
  
.connexion-title{
  color: whitesmoke;
  padding: 20px;
}

  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 60%;
    padding: 10px;
    margin: 8px;
    box-sizing: border-box;
    border-radius: 8px;
  }
  
  .error {
    color: red;
    font-size: xx-small;
  }
  
  button {
    width: 40%;
    padding: 10px;
    background-color: #ED7F10;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 40px;
  }
  
  button:disabled {
    background-color: #ccc;
    padding: 10px;
  }

  
  .p-forgot{
    color: whitesmoke;
    text-decoration: underline;
    margin-top: 0px;
    font-size: x-small;
    cursor: pointer;
  }

  