@keyframes slideIn {
  from {
      transform: translateX(-100%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0.30;
  }
  to {
    opacity: 1;
  }
}

.homepage {
    width: 100%;
  }
  
  .header-image img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .presentation {
    padding: 20px;
  }
  
  .presentation h1 {
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
    opacity: 0; /* Initialement invisible */
  }

  .presentation #link_PresentationP{
    color: #F6941D !important;
  }
  #link_presentationA{
    color: #F6941D !important;
    text-decoration: none !important;
    font-size: 1.4rem !important;
  }
  .presentation p {
    margin-top: 3rem;
    font-size: 1.2em;
    line-height: 1.6em;
    color: #333;
    opacity: 0; /* Initialement invisible */
    
  }
  
  .formations {
    padding: 20px;
    text-align: center;
  }

  .formations h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .formation-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .strategic-info {
    opacity: 0; 
  }
  /* Javascript animations */
  .presentation-h1-animation {
    animation: fadeIn 2s ease-in forwards;
  }
  .presentation-p-animation {
    animation: fadeIn 5s ease-in forwards; 
  }
  .formation-cards-animation {
    animation: slideIn 4s forwards;
  }  
  .equipe-member-list-animation {
    animation: slideIn 6s forwards;
  }
  .strategic-info-animation {
    animation: fadeIn 2s ease-in forwards; 
  }