/* fixed footer */
footer {
  position: fixed; 
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #2a2c42;
  color: white;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 16px 40px;
}
.footer-section {
  padding : 0 24px;
  flex: 1;
  min-width: 200px;
}
.footer-section h3 {
  font-size: 1em;
  text-align: center;
}
.footer-section ul {
  padding: 0; /* retirer padding par défaut */
}
.footer-section ul li {
  text-align: center;
  padding: 0 0 4px 0;
  list-style: none;
}
.footer-section a {
  color: #fff;
  text-decoration: none;
}
.footer-section a:hover {
  text-decoration: underline;
}

.footer-logo-image {
  width: 150px; 
  height: auto;
}
.social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo-icons-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.social-icons {
  display: flex;
  gap: 5px; 
  padding: 0;
  margin: 0;
  list-style: none;
}
.social-icons img {
  max-width: 1.8rem; 
  height: auto;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
  }
}
