.equipe-member {
  background-color: #292C42; /* Couleur de fond */
  color: white;
  border-radius: 10px;
  overflow: hidden;
  width: 300px; /* Largeur du bloc */
  height: 400px; /* Hauteur du bloc */
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre légère pour effet d'élévation */
}

.equipe-member-photo {
  width: 100%; /* Largeur de la photo */
  height: 60%; /* Hauteur de la photo */
  object-fit: cover; /* Remplit l'espace sans déformation */
}

.equipe-member-info {
  padding: 10px;
}

.equipe-member-name {
  margin: 10px 0;
  font-size: 1.5em;
  font-weight: bold;
}

.equipe-member-position {
  margin: 5px 0;
  font-size: 1.2em;
  font-style: italic;
}

.equipe-member-email {
  margin: 5px 0;
  font-size: 1em;
  color: #f39c12; /* Couleur pour l'email */
}
