.formation-card {
  perspective: 1000px; 
  margin: 20px;
}

.card-inner {
  width: 300px;
  height: 380px;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  background-color: #292C42; 
  border: 2px solid #ffffff; 
  border-radius: 10px; 
}

.formation-card:hover .card-inner {
  transform: rotateY(180deg); 
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; 
  text-align: center;
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.card-front {
  background-color: #292C42; 
  border: 1px solid #ffffff; 
}

.card-back {
  background-color: #292C42; 
  transform: rotateY(180deg); 
  border: 1px solid #ffffff; 
}

button {
  background-color: #f39c12; 
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #e67e22; 
}
