:root {
  --primary-color: #f39c12;
  --secondary-color: #292c42;
  --tertiary-color: #108cb7;
  --background-color: #EFF2F5;
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pointer {
  cursor: pointer;
}

.bg-fe-orange {
  background-color: #f39c12;
}

.bg-fe-gray {
  background-color: #9f9f9f;
}

.bg-fe-light-gray {
  background-color: #cecece;
}

/* badge */
.badge {
  padding: 4px 12px;
  border-radius: 20px;
}

.badge-primary {
  background-color: var(--tertiary-color);
  color: white;
  font-size: 22px;
}

.badge-grey {
  background-color: #EFEFEF;
  color: black;
  font-size: 14px;
  padding: 6px 12px;
}