.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #292c42;
  padding: 20px;
  color: #fff;
  gap: 20px;
  min-width: 1500px;
  position:fixed;
  bottom: 0;
}

.footer-section {
  flex: 1;
  margin: 5px;
  min-width: 150px;
}

.footer-section.logo-section {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-bottom: 20px; 
}

.footer-logo-image {
  max-width: 200px; 
  height: auto;
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-icons {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 15px; 
  padding: 0;
  margin: 0;
  list-style: none;
}

.social-icons img {
  max-width: 40px; 
  height: auto;
}

.footer-section h3 {
  font-size: 1.1em;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1.6; 
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section p {
  line-height: 1.5;
  margin-bottom: 10px;
}

.footer-section a {
  color: #fff;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

#footer-year {
  text-align: center;
  margin-top: 10px;
  font-size: 0.8em;
  color: #e67e22;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    text-align: center;
    margin-bottom: 20px; 
  }

  .social-icons {
    grid-template-columns: repeat(2, 1fr); 
  }
}
